body {
  background-color: pink;
    font-size: 15pt;
}
h1 {
  text-align: center;
}
.btn {
  border: solid 1px black;
  border-radius: 10px;
  position: absolute;
  left: 55%;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: pink;
}
.btn1 {
  border: solid 1px black;
  border-radius: 10px;
  position: absolute;
  left: 32%;
  font-size: 30px;
  color: white;
  background-color: pink;
}
.firstp {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: grey;
  background-color: darkorchid;
}